.banner{
      background: #000000;
      mix-blend-mode: darken;
      border-radius: 25px;
      width: 100%;
      height: 222px; 
      position: relative;
}

.title-header{
      font-weight: 500;
      font-size: 48px;
      color: white;
      position: relative;
      text-align: center;
      top: 45%;
      z-index: 1;
}

.img-header{
      height: 100%;
      width: 100%;
      border-radius: 25px;
      opacity: 0.6;
      position:absolute;
      bottom:0% ;
}

@media screen and (max-width: 768px){
	.title-header{
            font-size: 24px;
      }
      .banner{
            height: 111px;
      }       
  }