.btn-chevron{
      margin-top: 30px;
      background: #FF6060;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px ;
}

h3{
      font-weight: 500;
      font-size: 18px;
      color:white;
}

.about-content{
      background: #F7F7F7;
      border-radius: 10px;
      font-weight: 400;
      font-size: 18px;
      padding: 20px;
}

.list-equipment{
      margin: 0;
      padding-left: 0;
}

@media screen and (max-width: 768px){
	.btn-chevron{
            height: 30px;
            border-radius: 5px;
            padding-bottom: 8px;    
      }
      h3{
            font-size: 13px;
      }
      .chevron{
            height: 9px;
            width:16px;
      }
      .about-content{
            border-radius: 5px;
            font-size: 12px;
            padding: 10px;
      }
  }