
.arrow{
    position: absolute;
    cursor: pointer;
    font-size: 500%;
    color:white;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow-left,
.arrow-right{
    padding: 20px;
}
.arrow-left:hover,
.arrow-right:hover{
    transform:scale(1.2);
    transition: all 0.3s ease;

}

