 .header{
   display: flex;
   justify-content: space-between;
   margin: 100px, 40px, 100px, 40px;
}
.logo{
    width: 210px;
    height: 68px;
}
/*a{
    color:#FF6060 ;
    font-size: 24px;
    font: Montserrat;
    text-decoration: none;
}
a :focus{
    text-decoration:underline;
}
.list-header{
    list-style: none;
    display: flex;
    gap: 57px;
} */

.nav-active {
    text-decoration: underline;
}

.nav-link {
    color: #ff6060;
    width: 50%;
    margin-left: 10%;
    cursor: "pointer";
    font-size: 130%;
    font-family: "arial";
}

.navbar {
    width: 50%;
    text-align: right;
}