 .header{
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.logo{
    width: 210px;
    height: 68px;
}

.navbar{
    display: flex;
    align-items: flex-end;
    width: 30%;
}
.nav-active,
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
}

.nav-active {
    text-decoration: underline;
}

.nav-link {
    color: #ff6060;
    width: 50%;
    margin-left: 10%;
    cursor: "pointer";
    font-size: 130%;
    font-family: "arial";
}

