 .header{
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   width: 100%;
}

.logo{
    width: 210px;
    height: 68px;
}

.navbar{
    display: flex;
    align-items: flex-end;
    width: 40%;
    padding: 10px;
}

.nav-active,
.nav-link{
    font-weight: 500;
    font-size: 24px;
    color: #FF6060;
    cursor: pointer;
    width: 50%;
    text-align: right;
}

.nav-active {
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .header{
        margin-bottom: 15px;
    }
	.logo{
        width: 110px;
        height: 35px;
    }
    .navbar{
        width: 50%;
        height: 25px;
    }
    .nav-link,
    .nav-active{
        font-size: 12px;
    }
  }

