.host{
      display: flex;
      margin-right: 0;
      width: 150px;
}

.img-host{
      border-radius: 50px;
      height: 64px;
      width: 64px;
}

figcaption{
      font-weight: 500;
      font-size: 18px; 
      text-align: right;
      padding-right: 10px;
}

@media screen and (max-width: 768px){
	.img-host{
            height: 32px;
            width: 32px;  
      }
      .host{
            justify-content: flex-end;
           
      }
      figcaption{
            font-size: 12px; 
            width: 60px;
            padding-top: 0;
      } 
}

