.name-host{
      display: flex;
      margin-right: 0;
}

.img-host{
      border-radius: 50px;
      height: 64px;
      width: 64px;
}

figcaption{
      font-weight: 500;
      font-size: 18px; 
}


