@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
  max-width: 1440px ;
  min-width: 320px;
  padding:20px 100px 0px 100px;
  font-family: 'Montserrat';
  font-style: normal;
}

img{
  object-fit: cover;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

p{
  margin: 0;
}

@media screen and (max-width:1280px) {
	body{
    padding:20px 20px 0 20px;
  }
}