.local{
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 20px;
}

@media screen and (max-width: 768px){
	.local{
            font-size: 14px;
            margin-bottom: 10px;
      }
}