.notfound{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #FF6060;
}

.number{
      font-weight: 700;
      font-size: 288px;
      margin: 0;
}

.txt-notfound{
      font-weight: 500;
      font-size: 36px;
      text-align: center;
      padding-bottom: 80px;
}

.txt-retour{
      font-weight: 500;
      font-size: 18px;
      color: #FF6060;
      text-decoration-line: underline;
}

@media screen and (max-width: 768px){
	.number{
            font-size: 96px;
            margin-top: 180px;
      }
      .txt-notfound{
            font-size: 18px;
            margin-bottom: 130px;
      }
      .txt-retour{
            font-size: 14px;
      }
}