.tag{
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #FFFFFF;
      background: #FF6060;
      border-radius: 10px;
      padding:5px 30px 5px 30px ;
}

.tag:hover{
      box-shadow: 0 2px 8px rgb(0, 0, 0);
}
@media screen and (max-width: 768px){
	.tag{
            font-size: 10px;
            padding:3px 20px 3px 20px ;
      }
}